<div id="<%= dom_id user %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Driver license:</strong>
    <%= user.driver_license %>
  </p>

  <p>
    <strong>Extend profile:</strong>
    <%= user.extend_profile %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= user.twitter %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= user.linkedin %>
  </p>

  <p>
    <strong>Perferred method of contact:</strong>
    <%= user.perferred_method_of_contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

</div>
